@import "tailwindcss";

@theme {
  /* ... */

  --color-card-dark-gradient-900: oklch(0.215 0.022 264.9);
  --color-card-dark-gradient-700: oklch(0.384 0.013 262.4);

  --color-card-brand-gradient-900: hsla(254, 45%, 34%, 1);
  --color-card-brand-gradient-700: hsla(258, 54%, 52%, 1);

  --color-card-background: hsla(0, 0%, 0%, 0.1);
  --color-card-gradient-stop-one: hsla(0, 0%, 100%, 0.3);
  --color-card-gradient-stop-two: hsla(0, 0%, 100%, 0);

  --font-ibm-mono: IBM Plex Mono;
}

@layer components {
  .pattern {
    transform: rotateX(58deg) rotateZ(41deg) rotateY(5deg);
  }
  .pattern:hover {
    transform: translate3d(0, -16px, 10px) rotateX(58deg) rotateZ(41deg)
      rotateY(5deg);
  }
  .transparent-card-bg {
    background-color: var(--color-card-background);
    background-image: linear-gradient(
      to bottom,
      var(--color-card-gradient-stop-one),
      var(--color-card-gradient-stop-two)
    );
  }
}
